<div class="top">
  <div class="top__content">
    <div class="top__content-item">
      <h3>ようこそ<span class="top__content-item_red">MyTuber</span>へ</h3><br>
      ここではお気に入りのYouTuberをフォロワーと共有できます。<br>
      共通のジャンルを持つユーザーを探して,<br>
      お気に入りのYouTuberをフォロワーに紹介しましょう。<br>
    </div>
  </div>
</div>