
.btn {
  @mixin common {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    color: white;
    border: none;
    box-shadow: 2px 2px gray;
    margin-top: 10px;
    padding: 1px 5px;
    text-decoration: none;
  }
  @mixin post-show {
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: 2px 2px gray;
    text-decoration: none;
  }

  &--green {
    @include common;
    background-color: rgb(90, 200, 90);
  }
  &--blue {
    @include common;
    background-color: rgb(20, 80, 201);
  }
  &__post-show {
    &--blue {
      @include post-show;
      background-color: rgb(20, 80, 201);
    }
    &--red {
      @include post-show;
      background-color: red;
    }
    &--orange {
      border-radius: 4px;
      box-shadow: 2px 2px gray;
      padding: 3% 3%;
      text-decoration: none;
      background-color: orange;
      color: white;
    }
    &--white {
      border-radius: 4px;
      box-shadow: 2px 2px gray;
      padding: 3% 3%;
      text-decoration: none;
      background-color: white;
      border: 1px solid gray;
      color: black;
    }
  }
  &--search {
    width: 50px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(230, 66, 61);
    color: white;
    border: none;
    box-shadow: 2px 2px gray;
    margin: 0 5px 0 10px;
  }
  &:hover {
    position: relative;
    top: -1px;
    left: -1px;
    box-shadow: 3px 3px gray;
  }
  &:active {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: none;
  }
}
