.comment {
  width: 85%;
  margin: 1% auto;

  &__top {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    color: green;
  }
  &__link {
    text-decoration: none;
    color: blue;
  }
  &__item {
    min-height: 120px;
    margin-bottom: 2%;
    background-color: white;
    box-shadow: 1px 3px 3px 3px rgba(0,0,0,0.2);
    display: flex;
    position: relative;
  }
  &__image-tag {
    width: 15%;
    padding-top: 30px;
    text-align: center;
  }
  &__image {
    border-radius: 50%;
    border: 1px solid;
    border-color: rgba(100, 100, 100, 0.1);
    box-shadow: 1px 1px gray;

    &:hover {
    position: relative;
    top: -1px;
    left: -1px;
    box-shadow: 3px 3px gray;
    }
    &:active {
      position: relative;
      top: 1px;
      left: 1px;
      box-shadow: none;
    }
  }
  &__main {
    width: 70%;
  }
  &__name {
    padding-top: 5px;
    word-wrap: break-word;
  }
  &__area {
    width: 95%;
    min-height: 85px;
    padding-top: 5px;
    margin-bottom: 15px;
    word-wrap: break-word;
  }
  &__delete-tag {
    width: 15%;
  }
  &__delete {
    position: absolute;
    top: 47px;
    right: 10px;
  }
  &__time {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 10px;
  }
  &__form {
    border-top: 1px solid black;
    padding: 40px 70px;
    margin: 60px 0;
  }
  &__form-input {
    resize: none;
    width: 100%;
    min-height: 100px;
    margin: 10px 0;
  }
  &__form-submit {
    text-align: center;
  }
}