.confirm {
  width: 60%;
  margin: 60px auto;

  &__title {
    margin: 20px 0;
  }
  &__content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  &__caution {
    margin-top: 80px;
    margin-bottom: 60px;
    color: red;
  }
  &__buttons {
    width: 270px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}