.mypage-edit {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;

  &__title {
    width: 18%;
    margin: 10px 0 10px 20px;
    border: 1px solid black;
    text-align: center;
  }
  &__form {
    width: 79%;
    margin: 0 1%;
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 3px 4px 6px rgba(0,0,0,0.1);
  }
  &__form-label {
    margin: 20px 0;
  }
  &__form-field-tag {
    padding-left: 20px;
  }
  &__form-field {
    width: 250px;
    height: 30px;
  }
  &__form-area {
    resize: none;
    width: 550px;
    height: 120px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  &__form-submit {
    text-align: center;
  }
  &__top {
    width: 850px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
  }
  &__image {
    border: 1px solid gray;
    background-color: white;
  }
  &__middle {
    width: 550px;
    margin: 30px auto;
  }
  &__bottom {
    width: 550px;
    margin: 30px auto;
  }
}