.mypage-edit {
  &__left {
    width: 77%;
    min-height: 90vh;
    margin: 1%;
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 3px 4px 6px rgba(0,0,0,0.1);
  }
  &__content {
    min-height: 97%;
    margin: 1%;
    padding-top: 50px;
    background-color: white;
    box-shadow: 1px 3px 4px 6px rgba(0,0,0,0.1);
    position: relative;
  }
  &__top {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  &__table {
    width: 60%;
  }
  &__form-label {
    margin: 20px 0;
  }
  &__form-field {
    width: 270px;
    height: 30px;
  }
  &__form-area {
    resize: none;
    width: 550px;
    height: 120px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  &__form-submit {
    text-align: center;
  }
  &__image {
    border: 1px solid;
    border-color: rgba(100, 100, 100, 0.3);
    border-radius: 50%;
  }
  &__middle {
    width: 550px;
    margin: 30px auto;
  }
  &__bottom {
    width: 550px;
    margin: 30px auto;
  }
}