.mypage-edit {
  width: 100%;
  display: flex;

  &__title {
    width: 70%;
    margin: 20px auto;

  }
  &__form {
    width: 79%;
    margin: 1% 1%;
    border: 1px solid black;

  }
  &__top {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  &__image {

  }
  &__middle {

  }
  &__bottom {

  }
}