.nav {
  width: 450px;
  height: 90px;
  %__upper {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
  }
  &__upper {
    @extend %__upper;
    
    &--before-log-in {
      @extend %__upper;
      width: 217px;
      margin-left: auto;
    }
  }
  &__lower {
    margin-top: 8px;
  }
}