.nav {
  height: 90px;
  &__upper {
    margin-top: 18px;
  }
  &__lower {
    margin-top: 15px;
  }
  &__btn{
    padding: 5px;
    margin: 0 5px;
    background-color: rgb(230, 66, 61);
    border-radius: 5%;
    text-decoration: none;
    box-shadow: 2px 2px gray;
    color: white;
  }
  &__btn:hover {
    position: relative;
    top: -1px;
    left: -1px;
    box-shadow: 3px 3px gray;
  }
  &__btn:active {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: none;
  }
}