.post-show {
  &__content {
    width: 95%;
    margin: 8% auto;
    display: flex;
    justify-content: flex-end;
    padding: 1% 3%;
    background-color: white;
    box-shadow: 1px 3px 3px 3px rgba(0,0,0,0.2);
  }
  &__main {
    width: 60%;
    height: 400px;
    margin-bottom: 15px;
  }
  &__name {
    height: 90px;
    word-wrap: break-word;
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    font-weight: bold;
  }
  &__genre {
    height: 70px;
    text-align: center;
    padding-top: 20px;
  }
  &__evaluation {
    max-width: 220px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__introduce {
    max-width: 400px;
    height: 190px;
    padding-top: 20px;
    margin: 0 auto;
    word-wrap: break-word;
  }
  &__sub {
    width: 20%;
    text-align: center;
    position: relative;
  }
  &__edit {
    padding-top: 30px;
  }
  &__delete {
    padding-top: 30px;
  }
  &__favorite {
    width: 100%;
    position: absolute;
    bottom: 60px;
  }

  // adminで使用
  &__reaction {
    width: 160px;
    font-size: 12px;
    position: absolute;
    right: 0px;
    bottom: 20px;
  }

  &__time {
    width: 200px;
    font-size: 12px;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

}