.profile {
  width: 20%;
  margin-left: 1%;
  border: 1px solid black;

  &__title {
    width: 75%;
    margin: 10px auto;
    padding: 5px 0;
    text-align: center;
    border: 1px solid black;
  }
}