.sign-up {
  width: 60%;
  margin: 30px auto;

  &__title {
    margin: 20px 0;
  }
  &__form {
    width: 50%;
    margin: 0 auto;
  }
  &__form-item {
    padding: 10px 30px 10px 0;
  }
  &__form-input {
    width: 200px;
    height: 30px;
  }
}