.user-add-genre {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;

  &__title {
    width: 30%;
    padding: 2px 0;
    margin: 1%;
    border: 1px solid black;
    text-align: center;
  }
  &__container {
    width: 97%;
    min-height: 97%;
    margin: 1% auto;
    background-color: white;
    box-shadow: 1px 3px 3px 3px rgba(0,0,0,0.2);
    position: relative;
    padding: 1%;
  }
  &__form {
    max-width: 500px;
    margin: 50px auto;
  }
  &__table {
    width: 100%;
  }
  &__caution {
    height: 60px;
  }
  &__genre {
    padding: 15px 0;
  }
  &__genre-input {
    width: 250px;
    height: 30px;
  }
  &__submit {
    height: 60px;
  }
}