.user-add-genre {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1%;

  &__title {
    width: 30%;
    padding: 2px 0;
    margin: 1%;
    border: 1px solid black;
    text-align: center;
  }
  &__center {
    width: 58%;
    margin: 0 1%;
    position: relative;
    border: 1px solid black;
  }
  &__form {
    width: 50%;
  }
}