<div class="post-index container">
  <div class="right"></div>

  <div class="center">
    <div class="title">投稿一覧</div>

    <div class="container__content">
      <% @youtubers.each do |youtuber| %>
        <%= link_to admin_youtuber_path(youtuber), class: "post-index__link" do %>
          <%= render "common/post_index", youtuber: youtuber %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</div>

<script>
$('.review-evaluation').empty();
  $('.review-evaluation').raty({
    readOnly: true,
    number: 5,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>



