<def class="user-index">
  <div class="left"></div>

  <div class="user-index__container center">
    <div class="title">ユーザー一覧</div>
    <div class="user-index__content">
      <% @users.each do |user| %>
        <%= link_to admin_user_path(user), class: "user-index__link" do %>

          <%= render "common/user_index", user: user %>

        <% end %>
      <% end %>
    </div>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</def>