<div class="genre-search">
  <div>ジャンル検索</div>
  <div>
    <% if user_signed_in? %>
      <%= link_to "ジャンルを追加+", new_genre_path %>
    <% end %>
    <%= link_to "全てのジャンル", youtubers_path(sort: "genre-search-all") %>
    <% genres.each do |genre| %>
      <ul>
        <li>
          <%= link_to "#{genre.genre_name}", youtubers_path(genre_id: genre.id ,sort: "genre-search") %>
        </li>
      </ul>
    <% end %>
  </div>
</div>