<div>
  <div>退会確認画面</div>
  <div>
    <div>
      退会すると現在の会員情報ではログインできなくなります。<br>
      本当に退会しますか？
    </div>
    <div>
      <%= link_to "退会する", users_withdraw_path, method: :patch %>
      <%= link_to "退会しない", user_path(current_user) %>
    </div>
  </div>
</div>