<def class="user-index container">

  <%= render "common/profile_bar", user: @user_profile %>

  <div class="center">
    <div class="title">ユーザー一覧</div>
    <div class="container__content">
      <% @users.each do |user| %>
        <%= link_to user_path(user), class: "user-index__link" do %>

          <%= render "common/user_index", user: user %>

        <% end %>
      <% end %>
    </div>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</def>